
.popular-searches .vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom) 
{
	top: 94%!important;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center
}

.testimonials .vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom)
{
    width: 90% !important;
}
.vueperslides__inner 
{
    margin: auto;
    width: 87%;
    align-items: center;
}

.vueperslides__arrows--outside .vueperslides__arrow--prev
{
    left: -60px !important;
    box-shadow: none;
    outline: none;
}

.vueperslides__arrows--outside .vueperslides__arrow--next
{
    right: -65px !important;
    box-shadow: none;
    outline: none;
}

.testimonials .vueperslides__arrows--outside .vueperslides__arrow--prev
{
    margin-top: -8%;
}

.testimonials .vueperslides__arrows--outside .vueperslides__arrow--next
{
    margin-top: -8%;
}
.vueperslides__track-inner
{
    width: 101% !important;
}
.vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom)
{
    width: 100% !important;
}
.vueperslides__inner
{
    width: 100% !important;
}

.tag-slider .vueperslides__inner, .tag-slider .vueperslides__track
{
    max-height: 100px;
}

.tag-slider .vueperslides__arrow--next
{
    font-size: 2.5em;
}

.tag-slider .vueperslide__content
{
    padding-left: 5px;
}

.vueperslide__content-wrapper .vueperslide__title  div
{
    color: #26140E !important;
}

.articles-slider .vueperslides__track-inner
{
    padding-top: 50px;
}

.vueperslides--fixed-height.vueperslides--bullets-outside
{
    margin-bottom: 0px !important;
}

.vueperslides__bullet {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: none !important;
    box-shadow: none !important;
    transition: 0.3s !important;
    width: 16px !important;
    height: 16px !important;
    outline:0 !important;
  }
  
  .vueperslides__bullet--active {background-color:#25130E !important;outline:0 !important;}
  
  .vueperslides__bullet span {
    display: block !important;
    color: #fff !important;
    font-size: 10px !important;
    opacity: 0.8 !important;
  }